:root{
    --color1:#D89584;
    --color2:#F4F4F4;
}

*{
    margin:0px;
    padding:0px;
}
* a{
    text-decoration:none;
}
body{
    font-family:Arial;
}
.cover{
    position:relative;
    top:O%;
    /* border:1px solid red; */
    border:0px solid transparent;
    /* background :url('./assets/images/cover_overlay3.jpg') no-repeat left/100%; */
    background:url('./assets/images/cover4.jpg') no-repeat center/100%;
    min-height:360px;

}
.cover h2{
    position:relative;
    z-index:2;
    text-align:center;
    color:white;
    font-size:50px;
}
.cover p{
    position:relative;
    z-index:2;
    text-align:center;
    color:lightgray;
    font-size:18px;
}
.cover-contact{
    border-left:5px solid blue;
    position:absolute;
    padding:0px 10px;
    margin:5px;
    top:0;
    left:0;
    z-index:2;
}
.cover-contact p{
    margin-bottom:10px;
    text-align:left;
    font-size:default;
}
.cover-contact a{
    color: white;
}
div.contact-btn{
    margin:15px 0px;
    padding:0px;
    display:flex;
    justify-content:center; 
    align-text:center;
}
a.contact-btn{
    color:var(--color1);
    z-index:2;
    margin:5px;
    padding:8px 7px;
    border-radius:5px;
    max-height:100%;
    overflow:auto;
    background-color:transparent;
    border:3px groove red;
}
a.contact-btn:hover{
    border-radius:1px;
    color:white;
    border-color:white;
} 
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); 
}
#profil{
    position:relative;
    left:45%;
    z-index:2;
    border:3px solid white;
    height:150px;
    display:block;
    border-radius:50%;
    /* margin:50px auto 35px auto; */
}
div.section-triangle1{
    background: url("./assets/images/triangle1.svg") no-repeat  bottom/cover;
    font-size:20px;
    height:200px;
    overflow:auto;
    /* border:1px solid red; */
    display:flex;
    flex-direction:column;
    align-items:center;      

    /* padding:0px 25px; */
}

div.separator{
    background-color:#979797;
    margin-top:10px;
    height:2px;
    width:150px;
}
.paragraphe-section{
    align-text:center;
    line-height:1;
    margin:2% 25%;
    /* font-weight:bolder; */
    /* border:1px solid red; */
    
}
div.section-triangle-blanche{
    font-size:20px;
     min-height:300px;
     /* border:1px solid red; */
     text-align:center;
}
.aboutparagraphe img{
    border-radius:8px;
}
.aboutparagraphe{
     text-align:left;
     padding:10px;
     margin:2% 25%;
     /* border:1px solid red; */
     display:flex;
     gap:15%;
 
}
.col40{
    width:60%;
}
.col40 p{
    display:inline-block;
    height:25%;
    padding-left:5px;
    border-left:3px groove var(--color1);
    margin-bottom:5%;
}
.col40 a{
    margin:10px;
    color:blue;
}
.col40 a:hover{
    color:var(--color1);
}
.section-grise-2{
    background: url("./assets/images/triangle3.svg") no-repeat  center/cover;
    font-size:20px;
    min-height:300px;
    /* border:1px solid red; */
    display:flex;
    flex-direction:column;
    align-items:center;   

}
.section-grise-2 h2{
    margin:12% 0px 0% 0px ;
}
.section-grise-2-container {
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    margin-top:1%;
}
.section-grise-2-container a{
    color:blue;
}
.barre-verticale{
    margin-right:5px;
    height:60px;
    width:5px;
    background-color:var(--color1) ;
}
.frame-div{
    height:200px;    
}
